.form {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.inputType {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.input {
  font-family: 'Courier New', Courier, monospace;
  width: 300px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  outline: 1px solid lightgrey;
}

.input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.input:hover {
  outline: 1px solid lightgrey;
}
.formBtn {
  font-family: 'Courier New', Courier, monospace;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;

  background: #5b5fc7;
  background: linear-gradient(0deg, #5b5fc7 0%, #595dcd 100%);
  border: none;
}

.formBtn:before {
  height: 0%;
  width: 2px;
}

.formBtn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
